.apple-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 13px;
	padding: 0px 13px 13px 13px;
	overflow: hidden;
}

.imac {
	background: url(../images/promo_imac_large.jpg) no-repeat center center;
	height: 577px;
	text-align: center;
	padding-top: 50px;
}
.iwatch {
	background: url(../images/promo_watch_series_large.jpg) no-repeat center
		center;
	height: 577px;
	text-align: center;
	padding-top: 40px;
}
.ipad {
	height: 577px;
	background: url(../images/promo_large.jpg) no-repeat center center;
	text-align: center;
	padding-top: 50px;
}
.ifitness {
	height: 577px;
	background: url(../images/tile_new_large.jpg) no-repeat center center;
	background-color: rgb(251, 251, 253);
	background-position: bottom;
	text-align: center;
	padding-top: 40px;
}
.icard {
	height: 577px;
	background: url(../images/tile_2new_large.jpg) no-repeat center center/cover;
	text-align: center;
	padding-top: 40px;
}

.itv {
	height: 577px;
	background: url(../images/promo_watch_the_sound_large.jpg) no-repeat center
		center/cover;
	text-align: center;
	padding-top: 40px;
	position: relative;
}

/* IMac */

.imac h2 {
	font-size: 42px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.9);
}
.imac h4 {
	font-weight: 300;
	font-size: 21px;
	padding: 5px 0;
	color: rgba(0, 0, 0, 0.8);
}
.imac span {
	padding: 5px;
	padding-right: 20px;
	display: inline-block;
	margin-top: 2px;
}
.imac a {
	font-size: 17px;
	color: #0066cc;
}
.imac .chev {
	width: 15px;
	height: 14px;
	color: #0066cc;
	padding-left: 6px;
}

/* Iwatch */

.iwatch .iwatch-img {
	background: url(../images/promo_logo_watch_series_6_large.png) no-repeat
		center center;
	height: 50px;
}
.iwatch p {
	color: #f5f5f7;
	font-size: 20px;
	padding: 10px 0;
}
.iwatch span {
	padding-right: 20px;
}
.iwatch a {
	font-size: 17px;
	color: #0066cc;
}
.iwatch .chev {
	width: 15px;
	height: 14px;
	color: #0066cc;
	padding-left: 6px;
}

/* iPad */

.ipad h2 {
	font-size: 38px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.9);
	letter-spacing: 0.1px;
}
.ipad h2 sup {
	font-size: 19px;
}
.ipad span {
	padding: 5px;
	display: inline-block;
	margin-top: 2px;
}
.ipad a {
	font-size: 17px;
	color: #0066cc;
}
.ipad .chev {
	width: 15px;
	height: 14px;
	color: #0066cc;
	padding-left: 6px;
}

/* Ifitness */

.ifitness .ifitness-img {
	background: url(../images/logo__fitness_large.png) no-repeat center center;
	height: 50px;
}
.ifitness p {
	color: rgba(0, 0, 0, 0.8);
	font-size: 20px;
	padding: 10px 0;
}
.ifitness span {
	padding-right: 20px;
}
.ifitness a {
	font-size: 17px;
	color: #0066cc;
}
.ifitness .chev {
	width: 15px;
	height: 14px;
	color: #0066cc;
	padding-left: 6px;
}

/* Icard */

.icard .icard-img {
	background: url(../images/logo_apple_large.png) no-repeat center center;
	height: 50px;
}
.icard p {
	color: rgba(0, 0, 0, 0.8);
	font-size: 20px;
	padding: 10px 0;
}
.icard span {
	padding-right: 20px;
}
.icard a {
	font-size: 17px;
	color: #0066cc;
}
.icard .chev {
	width: 15px;
	height: 14px;
	color: #0066cc;
	padding-left: 6px;
}

/* TV */
.itv .itv-img {
	background: url(../images/logo_light_large.png) no-repeat center center;
	height: 50px;
}

.itv .itv-text {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	width: 500px;
	line-height: 53px;
}
.itv .h6-text {
	line-height: 17px;
	margin-bottom: 10px;
}

.itv .itv-text .h6-text h6 {
	color: #f5f5f7;
	text-transform: uppercase;
}
.itv .itv-text .h6-text #first-h6 {
	font-weight: 100;
}

.itv .itv-text .h6-text h6 span {
	padding: 0 10px;
}

.itv h4 {
	color: #f5f5f7;
	text-transform: uppercase;
	text-align: center;
	font-size: 70px;
	font-family: Agency FB;
}
.itv h4 span {
	-webkit-text-stroke: 0.5px #fff;
	color: transparent;
}
.itv h5 {
	color: #f5f5f7;
	text-transform: uppercase;
	font-size: 40px;
	color: #f5f5f7;
	font-family: Agency FB;
}

.itv a {
	color: #f5f5f7;
	font-size: 18px;
}

@media screen and (max-width: 1068px) {
	.imac {
		background: url(../images/promo_imac_medium.jpg) no-repeat center
			center/cover;
		height: 477px;
		padding-top: 30px;
	}
	.iwatch {
		background: url(../images/promo_watch_series_medium.jpg) no-repeat
			center center/cover;
		height: 477px;
		background-color: red;
	}
	.ipad {
		background: url(../images/promo_medium.jpg) no-repeat center
			center/cover;
		height: 477px;
	}
	.ifitness {
		background: url(../images/tile_new_medium.jpg) no-repeat center center;
		height: 477px;
		background-color: rgb(251, 251, 253);
		background-position: bottom;
	}
	.icard {
		background: url(../images/tile_2new_medium.jpg) no-repeat center
			center/cover;
		height: 477px;
	}

	.itv {
		background: url(../images/promo_watch_the_sound_medium.jpg) no-repeat
			center center/cover;
		height: 477px;
	}
	.iwatch .iwatch-img {
		background: url(../images/promo_logo_watch_series_6_large.png) no-repeat
			center center;
		height: 50px;
	}
	.icard .icard-img {
		background: url(../images/logo_apple_medium.png) no-repeat center center;
		height: 50px;
	}
	.itv .itv-img {
		background: url(../images/logo_light_medium.png) no-repeat center center;
		height: 50px;
	}
	.ifitness .ifitness-img {
		background: url(../images/logo_fit_medium.png) no-repeat center center;
		height: 50px;
	}
	.itv .itv-text {
		line-height: 40px;
		margin-bottom: 10px;
	}
	.itv h5 {
		color: #f5f5f7;
		text-transform: uppercase;
		font-size: 30px;
		color: #f5f5f7;
		font-family: Agency FB;
	}
	.itv h4 {
		color: #f5f5f7;
		text-transform: uppercase;
		text-align: center;
		font-size: 50px;
		font-family: Agency FB;
	}
	.itv .itv-text .h6-text h6 {
		font-size: 9px;
	}
	.ipad h2 {
		font-size: 30px;
	}
	.imac h2 {
		font-size: 30px;
	}
}

@media (max-width: 800px) {
	.icard p {
		font-size: 18px;
		padding: 6px 0;
	}
	.ifitness p {
		font-size: 18px;
		padding: 6px 0;
	}
	.ipad h2 {
		font-size: 27px;
	}
	.iwatch p {
		font-size: 18px;
	}
}

@media (max-width: 735px) {
	.apple-grid {
		grid-template-columns: 1fr;
		padding: 0px;
	}
	.iwatch {
		background: url(../images/promo_watch_series_large.jpg) no-repeat center
			center/cover;
	}
	.ifitness {
		background: url(../images/tile_new_small.jpg) no-repeat center center;
		background-position: bottom;
	}
	.ipad {
		background: url(../images/promo_small.jpg) no-repeat center
			center/cover;
	}
	.icard {
		background: url(../images/tile_2new_small.jpg) no-repeat center
			center/cover;
	}
	.imac {
		background: url(../images/promo_imac_small.jpg) no-repeat center
			center;
	}

}
@media (max-width: 500px) {
	.icard .icard-img {
		background: url(../images/logo_apple_small.png) no-repeat center center;
	}
	.itv .itv-img {
		background: url(../images/logo_light_small.png) no-repeat center center;
	}
	.iwatch .iwatch-img {
		background: url(../images/promo_logo_watch_series_small.png) no-repeat
			center center;
		height: 50px;
	}

}
