.footer {
	background-color: #f5f5f7;
	color: rgba(0, 0, 0, 0.5);
	width: 100%;
	padding: 0 22px;
}

.footer-container {
	max-width: 1024px;
	margin: auto;
	padding: 18px 0;
}

.footer .footer-container .footer-info {
	padding-bottom: 11px;
}
.footer .footer-container p {
	font-size: 13px;
	padding-bottom: 10px;
	line-height: 15px;
}

.footer .footer-container p a {
	color: rgba(0, 0, 0, 0.5);
}
.footer .footer-container .footer-contact p {
	font-size: 12px;
}
.footer .footer-container .footer-contact p a {
	color: #0c62b8;
}
.footer .footer-container .footer-copy {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	padding-top: 10px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 12px;
}
.footer .footer-container .footer-copy div {
	display: flex;
}
.footer .footer-container .footer-copy .invisible {
	display: none;
}
.footer .footer-container .footer-copy div span {
	margin-left: 20px;
}
.footer .footer-container .footer-copy div span a {
	color: rgba(0, 0, 0, 0.5);
	padding: 0 8px;
	border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.footer .footer-container .footer-copy div span a:first-child {
	border: none;
}
.footer .footer-container .footer-copy > span a {
	color: rgba(0, 0, 0, 0.5);
}

/* Media Queries */

@media (max-width: 767px) {
	.footer .footer-container .footer-copy {
		border-top: none;
		display: block;
	}
	.footer .footer-container .footer-copy div {
		display: block;
	}
	.footer .footer-container .footer-copy div span {
		margin-left: 0px;
	}
	.footer .footer-container .footer-copy div span a:first-of-type {
		padding: 0;
	}
	.footer .footer-container .footer-copy > span {
		display: none;
	}
	.footer .footer-container .footer-copy .invisible {
		display: block;
		margin-bottom: 10px;
	}
	.footer .footer-container .footer-copy .invisible a {
		color: rgba(0, 0, 0, 0.5);
	}
}

/* Media Queries */
@media (max-width: 400px) {
	.footer .footer-container p {
		font-size: 11px;
		padding-bottom: 10px;
		line-height: 15px;
	}
}